name: Scheduled Altinity Stable Builds

on:
  schedule:
    - cron: "0 0 * * 6" 
  # Make sure that any changes to this file is actually tested with PRs
  pull_request:
    types:
      - synchronize
      - reopened
      - opened
    paths:
      - '**/scheduled_runs.yml'

jobs:
  LaunchWorkflows:
    strategy:
      fail-fast: false
      matrix:
        branch: 
          - 24.3-scheduled-run
    name: ${{ matrix.branch }}
    runs-on: ubuntu-latest
    steps:
     - name: Run 24.3 workflow
       run: |
          curl -L \
          -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ secrets.TOKEN }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/Altinity/ClickHouse/actions/workflows/release_branches.yml/dispatches \
          -d '{"ref":"${{ matrix.branch }}"}'
